body{
    background-color: lightblue;
}
h1{
  font-family: helvetica;
  font-size: 50px;
}
p{
  color: white;
  font-family: helvetica
}
img{
  width: 300px;
  border-style: solid;
}
h2{
  font-family: helvetica;
}
